services:
  order-service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5288:80" # Expose API
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - prometheus # Optional: For metrics
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./monitoring/alerting-rules.yml:/etc/prometheus/rules/alerting-rules.yml # Alerting
    ports:
      - "9090:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--storage.tsdb.retention.time=200h"
      - "--web.enable-lifecycle"
    networks:
      - monitoring

  alertmanager:
    image: prom/alertmanager:v0.29.0
    container_name: alertmanager
    ports:
      - "9093:9093"
    volumes:
      - ./monitoring/alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - ./monitoring/alertmanager/templates:/etc/alertmanager/templates:ro   # <-- mount templates
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
    environment:
      - DISCORD_WEBHOOK_URL=${DISCORD_WEBHOOK_URL} # Set in .env
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin # Change in prod
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - ./monitoring/provisioning:/etc/grafana/provisioning # Auto-provision datasource/dashboard
    depends_on:
      - prometheus
    networks:
      - monitoring

  discord-proxy:
    build:
      context: ./monitoring/alertmanager/discord-proxy
      dockerfile: Dockerfile
    environment:
      - DISCORD_WEBHOOK_URL=${DISCORD_WEBHOOK_URL}
    networks:
      - monitoring
    ports:
      - "3001:3000"

networks:
  monitoring:
    driver: bridge
